body {
    background-image: url("img/tlo777.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.navbar-footer {
  background-color: #000000;
  position: bottom;
  margin-top: 100px;
  opacity: 0.8;
}
